$pink: #FF00AE;
$blue-grey: #60697F;
$font: fabrikat, sans-serif;

.left-bar {
	width: 400px;
	height: 100vh;
	position: fixed;
	left: 0;
	background: #000;
	font-family: $font;

	&-title {
		color: #fff;
		font-weight: 600;
		text-align: center;
		font-size: .88em;
		margin-top: 48px;
		letter-spacing: 1px;
	}

	&-form {
		margin-top: 80px;
		padding-left: 32px;
		padding-right: 32px;


		&-head {
			color: #fff;
			font-weight: 600;
			text-align: center;
			font-size: .88em;
			margin-top: 48px;
		}

		hr {
			margin-top: 12px;
			height: 0;
			width: 100%;
			border: none;
			border-bottom: 1px solid $pink;
		}

		&-search {
			margin-top: 20px;
			width: 80%;

			&-field {
				font-family: $font;
				font-weight: 600;
				font-size: .84em;
				color: #fff;
				margin: 8px 0;
			}

			input {
				border: none;
				background: rgba(255, 255, 255, 0.1);
				width: 100%;
				font-family: $font;
				font-weight: 400;
				margin-bottom: 12px;
				padding: 12px 8px;

				&:focus {
					outline: none;
				}
			}

			input[type="date"], input[type="number"], input[type="time"] {
				color: #fff;
				border-radius: 4px;
				font-size: .8em;
			}

			input[type="time"] {
				width: 104px;
				display: inline-block;
				margin-right: 12px;
			}

			&-to {
				font-family: $font;
				font-weight: 600;
				font-size: .84em;
				color: #fff;
				margin-right: 12px;
				display: inline-block;
			}

			&-equip {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&-item {
					width: 40px;
					height: 40px;
					//background: $pink;
					background: rgba(255,255,255,0.1);
					border-radius: 4px;
					margin-right: 12px;
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;

					&:hover {
						background: $pink;
					}

					img {
						width: 60%;
					}
				}

				&-item-active {
					background: $pink;
				}
			}
		}

		&-submit {
			margin-top: 32px;
			height: 40px;
			width: 100px;
			color: #fff;
			//border: 2px solid #fff;
			background: $pink;
			display: flex;
			font-family: $font;
			font-weight: 400;
			justify-content: center;
			align-items: center;
			font-size: .8em;
			cursor: pointer;
			margin-bottom: 20px;
		}

		&-see-all {
			color: #fff;
			font-weight: 600;
			font-size: .88em;
			line-height: 2em;
			padding-bottom: 2px;
			border-bottom: 1px solid $pink;
			cursor: pointer;
		}
	}

}