$pink: #FF00AE;
$blue-grey: #60697F;
$font: fabrikat, sans-serif;


.header {
	//visibility: hidden;
	display: none;
	position: fixed;
	height: 48px;
	width: 100%;
	background: #000;
	//display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;

	&-title {
		color: #fff;
		font-weight: 600;
		text-align: center;
		font-size: .88em;
		letter-spacing: 1px;
	}

	.icon {
		cursor: pointer;
		height: 24px;
		color: #fff;
		font-weight: 700;
		text-align: center;
		font-size: .8em;
		letter-spacing: 1px;
		padding: 4px;
		display: flex;
		align-items: center;
	}

}

.results {
	padding: 48px;
	position: fixed;
	left: 400px;
	width: calc(100vw - 400px);
	height: 100vh;
	overflow: scroll;

	&-title {
		font-family: $font;
		font-weight: 700;
		font-size: 1.4em;
		color: #000;
	}

	&-rooms {
		margin-top: 32px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.room-container {
			margin: 12px; 
		}

		&-room {
			height: 200px;
			width: 280px;
			overflow: hidden;
			cursor: pointer;

			// &:hover > &-content {
			// 	//background: rgba(255, 0, 174, 0.5);
			// 	background: linear-gradient(rgba(119, 14, 227, 0.5) , rgba(44, 123, 255, 0.5));
			// 	transform: translateY(0);
			// }

			.img {
				width: 280px;
				height: 200px;
				position: absolute;
				z-index: -1;
			}

			&-content {
				height: 100%;
				width: 100%;
				z-index: 200;
				padding: 20px 12px;
				-webkit-transition: background .3s;
				transition: background .3s;
				-webkit-transition: transform .2s;
				transition: transform .2s;
				transform: translateY(30%);

				// &:hover > &-reserve {
				// 	visibility: visible;
				// 	opacity: 1;
				// }

				&-title {
					color: #fff;
					font-weight: 700;
					font-size: 1.2em;
					text-align: center;
					text-transform: uppercase;
					//visibility: hidden;
				}

				&-reserve {
					width: 100%;
					opacity: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding-top: 48px;
					text-transform: uppercase;
					color: #fff;
					font-size: .92em;
					font-weight: 700;
				}

				// &-details {
				// 	visibility: hidden;
				// 	opacity: 0;
				// 	width: 100%;
				// 	color: #fff;
				// 	font-weight: 700;
				// 	font-size: 1em;
				// 	display: flex;
				// 	flex-direction: column;
				// 	justify-content: center;
				// 	align-items: center;
				// 	margin-top: 16px;
				// 	-webkit-transition: opacity .3s;
				// 	transition: opacity .3s;

				// 	.text {
				// 		line-height: 20px;
				// 	}

				// 	.equip {
				// 		margin-top: 8px;
				// 	}

				// 	&-equip {
				// 		margin-top: 8px;
				// 		display: flex;
				// 		flex-direction: row;
				// 		justify-content: center;
				// 		align-items: center;

				// 		&-item {
				// 			width: 24px;
				// 			height: 24px;
				// 			margin-right: 8px;
				// 			margin-left: 8px;
				// 			display: block;

				// 			img {
				// 				width: 90%;
				// 				height: 90%;
				// 			}
				// 		}
				// 	}
				// }
			}
		}

		&-room-info {
			width: 80%;
			margin: 8px auto;
			display: flex;
			justify-content: space-between;

			&-field {
				font-weight: 600;
				color: #888;
				font-size: .92em;
			}

			&-value {
				font-weight: 600;
				color: #000;
				font-size: .92em;

				&-equip {
					//margin-top: 8px;
					display: flex;
					flex-direction: row;
					// justify-content: center;
					// align-items: center;

					&-item {
						width: 24px;
						height: 24px;
						margin-right: 8px;
						margin-left: 8px;
						display: block;

						img {
							width: 100%;
							height: 100%;
						}
					}
				}	
			}
		}
	}
}

.blur {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 200;
	visibility: hidden;
	// -webkit-transition-delay: .3s;
	// transition-delay: .3s;
}

.active {
	visibility: visible;
}

@media only screen and (max-width: 1100px) {
	.results {
		left: 320px;
		width: calc(100vw - 320px);
	}
}

@media only screen and (max-width: 680px) {
	.results {
		width: 100vw;
		//margin-top: 60px;
		padding-top: 80px !important;  
		left: 0;
		padding: 24px;
		// padding-bottom: 48px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-rooms {
			justify-content: center;
		}

		&-rooms-room {
		}
	}

	.header {
		visibility: visible;
		display: flex;
		z-index: 300;
	}

}

@media (hover: hover) {
   .results {
		&-rooms-room {

			&:hover > &-content {
				//background: rgba(255, 0, 174, 0.5);
				background: linear-gradient(rgba(119, 14, 227, 0.5) , rgba(44, 123, 255, 0.5));
				transform: translateY(0);
			}

			&-content {
				&:hover > &-reserve {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}