@import '_vars'

#landing
	height 600px
	width 100%
	background primary-blue
	display flex
	justify-content center
	align-items center
	flex-direction column
	
	h1
		line-height 1.8em

	h2
		color primary-red
		margin-bottom 50px
		
		span 
			
			font-family primary-font
			font-weight 700
			color #fff
			font-size .75em