html
	head
		title Pranay Jain

		meta(name="viewport" content="width=device-width")

		link(href="style/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,400i,500" rel="stylesheet")
		link(href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet")
		link(href="style/animate.css" rel="stylesheet")

		script(src="scripts/jquery-3.2.1.js")
		script(src="scripts/script.js")
	body
		header
		section#landing
			.landing-text
				h1 HELLO,
				h2.name My name is Pranay Jain.
				h2.landing I like to design simple, beautiful experiences that perform.
		section#projects
			h4.no-display featured projects.
			.project
				.proj_image.no-display
						img(src='ftt.jpg')
				.content
					.heading.no-display
						h2 Transfer Tracker
						h3 Full-stack development
					p.no-display A web application to track football transfer rumours of your favourite team in a simple interface. It uses the Twitter Streaming API to crowd-source the news and updates from all around the globe. Based on your choice of team, this app provides you with tweets made by mostly credible sources and gives you automatic updates in a simple format.
			.project
				.proj_image.no-display
					img(src='storally.jpg')
				.content
					.heading.no-display
						h2 Storally
						h3 LOGO DESIGN &amp; Branding
					p.no-display Logo design for a UBC-based startup that aims to help students store their belongings in a safe environment by crowd-sourcing storage space to other students. For this project, I decided to go for a clean, minimal design which uses radiant pastel colours that appeal more to a younder audience and conveys the idea of the startup in a simple way.

			.project
				.proj_image.no-display
						img(src='sift.jpg')
				.content
					.heading.no-display
						h2 Sift
						h3 UX Design &amp; development
					p.no-display A web application that gives businesses a birds-eye view into their customers' feedback. It connects to feedback forms, support email, and reviews to create a visual summary of a business's customer relationships using natural language processing. This provides a quick way to see everything important that customers are saying. 
			.project
				.proj_image.no-display
						img(src='playsmid.jpg')
				.content
					.heading.no-display
						h2 Playsmid
						h3 Full-stack development
					
					p.no-display An interactive game that aims to teach synthetic biology to beginners interested in biology. I developed the game engine using jQuery. Also worked on the back-end developed using a Node server which retrieves the game data using a Mongo database.

			
		section#about
			h4.no-display about me.

			.main
				.left-content
					.about-header.no-display
						h5 I'm a full-stack web developer and UX designer based in Vancouver, Canada.

					.about-content
						p.no-display I hail from New Delhi, and currently studying Computer Science and Math at the University of British Columbia, Vancouver. I am a creative developer who is very interested in interaction and user experience design. 
						<br />
						p.no-display As a developer, I like to incroporate user-centric designs in all my projects. I believe design-oriented development often helps me create better products. As a designer, I love creating minimal and simplistic designs that are easy to use. I also love playing with fonts and typography and often try to discover new fonts and implementing them.  
						<br />
						p.no-display I interned at Collabware as a UI/UX Software developer. During my internship, I worked on developing a new cloud-based software, Collabspace in React.js and Redux. Developing software for an enterprise user-base was a very new and interesting experience for me. I also learnt a lot about the user centric design process, something I incorporate in all my projects. I have also worked as a Javascript developer and UX Designer at UBC Launch Pad.
						<br />
						p.no-display In my free time, I enjoy listening to music and jamming to it on my guitar, working out or watching soccer. I love meeting new people and listening to their stories and ideas. If you'd like to know more about me, or just want to talk, feel free to shoot me a message!
				.right-content
					.tldr.no-display tl; dr
					.cards
						.skill-card.no-display creative developer
						.skill-card.no-display UX design
						.skill-card.no-display graphic design
						.skill-card.no-display interaction design
						.skill-card.no-display JavaScript
						.skill-card.no-display Nodejs
						.skill-card.no-display HTML5/CSS
						.skill-card.no-display iOS 
						.skill-card.no-display Reactjs
						.skill-card.no-display Adobe Suite
						.skill-card.no-display Java


		section#contact
			h5.no-display I am always down to work on <span>cool projects</span>. If you have a <span>project idea,</span> <span>business plan</span> or just want to have a chat, I'd love to talk.

			.links
				hr
				p: a pranay1117@alumni.ubc.ca
				p: a facebook
				p: a github
				p: a linkedIn

			.social-icons
				hr
				i(class="fa fa-envelope facebook-icon" aria-hidden="true")
				i(class="fa fa-facebook-square facebook-icon" aria-hidden="true")
				i(class="fa fa-github-square facebook-icon")
				i(class="fa fa-linkedin-square facebook-icon")

