html
	head
		title Pranay Jain

		meta(name="viewport" content="width=device-width")

		link(href="style/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,400i,500" rel="stylesheet")
		link(href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet")
	body
		header
		section#landing
			.landing-text
				h1 HELLO,
				h2 My name is Pranay Jain.
				h2.landing I like to design simple, beautiful experiences lorem ipsum dolor sit amet.
		section#projects
			h4 featured projects.
			.project
				.proj_image
					img(src='storally.jpg')
				.content
					.heading
						h2 Storally
						h3 LOGO DESIGN
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.project
				.proj_image
					img(src='storally.jpg')
				.content
					.heading
						h2 Transfer Tracker
						h3 Full-stack development
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

			.project
				.proj_image
					img(src='storally.jpg')
				.content
					.heading
						h2 Sift
						h3 Front-end development
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.project
				.proj_image
					img(src='storally.jpg')
				.content
					.heading
						h2 Playsmid
						h3 Full-stack development
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

			
		section#about
			h4 about me.
			<br><br><br>

			.about-header
				h5 I'm a User Experience designer and Full-stack Web developer based in Vancouver, Canada.

			.about-content
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br />
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		section#contact
			h5 I am always down to work on <span>cool projects</span>. If you have a <span>project idea,</span> <span>business plan</span> or just want to have a chat, I'd love to talk.

			.links
				hr
				p: a pranay1117@alumni.ubc.ca
				p: a facebook
				p: a github
				p: a linkedIn

			.social-icons
				hr
				i(class="fa fa-envelope facebook-icon" aria-hidden="true")
				i(class="fa fa-facebook-square facebook-icon" aria-hidden="true")
				i(class="fa fa-github-square facebook-icon")
				i(class="fa fa-linkedin-square facebook-icon")

