html
	head
		title Pranay Jain
		link(href="style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Enriqueta" rel="stylesheet")
	body
		header
		section#landing
			div
				h1 HELLO,
				h2 My name is Pranay Jain.
				h2: span I like to design simple, beautiful experiences.
		section#projects
			h4 featured projects.
			.project
				.proj_image
					img(src='storally.jpg')
					h2 Storally
					h3 LOGO DESIGN
				.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.project
				.proj_image
					img(src='storally.jpg')
					h2 Playsmid
					h3 Full-stack development
				.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.project
				.proj_image
					img(src='storally.jpg')
					h2 Storally
					h3 LOGO DESIGN
				.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.project
				.proj_image
					img(src='storally.jpg')
					h2 Storally
					h3 LOGO DESIGN
				.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			
		section#about
			h4 about me.

