@import "font.scss";

$primary-font: 'GT-Walsheim', monospace;
$secondary-font: 'GT-Walsheim', sans-serif;
$heading-font: 'NoeDisplay', serif;

/* RGB */
$color-primary: #FFC553;
$color-secondary: #95d2ba;
$turqoise: $color-primary; // #EB3B5A;//rgba(18, 203, 196, 1);
$text: #4e4e4e; //#676B71;
$green: #95d2ba; // rgba(58, 96, 110, 1);
$orange: $color-primary; // #EB3B5A;;//rgba(221, 115, 115, 1);
$text-dark: #191C20; //rgb(26, 28, 32);
$circle: #95d2ba; // rgba(18, 203, 196,.6);
$grey-light: #b3c2d2;

$breakpoint-tablet: 1024px;

@mixin transition($time){
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

@mixin smoothtransition($time){
	-webkit-transition: all$time cubic-bezier(.43,.13,.15,.99);
	-moz-transition: all$time cubic-bezier(.43,.13,.15,.99);
	-o-transition: all$time cubic-bezier(.43,.13,.15,.99);
	transition: all$time cubic-bezier(.43,.13,.15,.99);
}

::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

* {
	-webkit-font-smoothing: antialiased;
}

body
{
	width: 100%;
	margin: auto;
	background: #fff !important;
	font-family: $primary-font;
	overflow-x: hidden;
}

::selection
{
	background: $text-dark;
	color: #fff;
}

a 
{
	text-decoration: none;
	color: inherit;
}

a.dull
{
	color: $text !important;
	&:hover {
		border-bottom: none !important;
	}
}

p {
	margin-block-start: 0;
	text-rendering: optimizeLegibility;
}

.loader
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #FFF;
	z-index: 1000;
}

@keyframes color {
  
  0%  {
    stroke: $turqoise;
  }
  
  25% {
    stroke: $turqoise;
  }
  
  26% {
    stroke: $text;
  }
  
  50% {
    stroke: $text;
  }
  
  51% {
    stroke: $orange;
  }
  
  75% {
    stroke: $orange;
  }
  
  76% {
    stroke: $green;
  }
  
  100% {
    stroke: $green;
  }
  
}

@keyframes path {
  0% {
    stroke-dasharray: 0, 251;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 125, 125;
    stroke-dashoffset: -60;
  }
  100% {
    stroke-dasharray: 0, 255;
    stroke-dashoffset: -250;
  }
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.filler {
  stroke-dasharray: 0, 0;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #FAF33E;
  animation: path 1s ease infinite, color 4s ease infinite;
}

.trans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate 4s ease infinite;
}

.hidden {
	opacity: 0;
}

header.shadow
{
	box-shadow: 0 5px 75px rgba(77,71,82,.1);
	height: 80px;
	background: #FFF;

	.wrapper
	{
		height: 80px;
	}
}

.top-bar {
	width: 100%;
	height: 4px;
	background: $color-primary;
}

header
{
	position: fixed;
	top: -1px;
	width: 100%;
	height: 120px;
	z-index: 2000;
	background: #FFF;
	@include transition(.3s);

	.wrapper
	{
		position: relative;
		width: 100%;
		height: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include transition(.5s);
	}

	.logo
	{
		height: 30px;
		width: 200px;
		display: flex;
		align-items: center;
		@include transition(.5s);

		img 
		{
			position: relative;
			height: 100%;
		}

		.name
		{
			font-size: 1em;
			font-weight: 500;
			color: $text-dark;
			margin-left: 20px;
			/*letter-spacing: 2px;
			text-transform: uppercase;
*/		}
	}

	.links
	{
		display: flex;

		.link 
		{
			position: relative;
			padding: 8px 10px;
			padding-top: 12px;
			margin: 5px 15px;
			font-size: .65em;
			color: rgba(0,0,0,.4);
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			cursor: pointer;
			overflow: hidden;
			border-bottom: 3px solid transparent;
			@include transition(.5s);
		}

		.link:before
		{
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			bottom: 0px;
			left: -100%;
			background: rgba(0,0,0,.1);
			z-index: 0;
			@include smoothtransition(.5s);
		}

		.link:hover:before
		{
			left: 0;
		}

		.current
		{
			color: $text-dark;
		/*	border: 2px solid rgba(0,0,0,.1);
			border-radius: 20px;*/
		}

		.current:before
		{
			left: 0% !important;
			background: $orange;
		}
	}

	.hamburger
	{
		position: relative;
		height: 20px;
		width: 25px;
		align-items: flex-end;
		display: none;

		.line-1 
		{
			position: absolute;
			top: 5px;
			height: 2px;
			width: 100%;
			background: $text;
		}

		.line-2
		{
			position: absolute;
			top: 15px;
			right: 0;
			height: 2px;
			width: 70%;
			background: $text;
		}
	}
}

.black
{
	width: 100%;
	height: 100vh;
	background: rgba(77,71,82,.2);
	z-index: 3000;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	@include smoothtransition(.5s);
}

.black.enable
{
	pointer-events: all;
	opacity: 1;
}

.mobile-nav
{
	width: 250px;
	height: 100vh;
	background: $text;
	z-index: 4000;
	position: fixed;
	top: 0;
	right: -100%;
	display: flex;
	align-items: center;
	//box-shadow: 0 0 100px rgba(77,71,82,.7);
	@include transition(.5s);

	.cross
	{
		position: absolute;
		height: 120px;
		width: 100%;
		top: 0;
		left:0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		img 
		{
			margin: 20px;
			height: 15px;
			width: 15px;
			padding: 5px;
		}
	}

	.mobile-links
	{
		width: 100%;
		
		.mobile-link
		{
			padding: 10px;
			margin: 0px;
			color: #FFF;
			font-size: 1em;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			opacity: 0;
			position: relative;
			top: 50px;
			@include smoothtransition(.6s);

			span 
			{
				display: block;
				color: rgba(0,0,0,.25);
				margin: 5px 0px;
				font-weight: 600;
				font-size: .8em;
			}
		}

		.selected-link
		{
			background: rgba(255,255,255,.05);
		}
	}
}

.intro
{
	// width: 60%;
	padding: 100px 0;
	margin: auto;
	// height: calc(100vh);
	// display: flex;
	// align-items: center;

	&-logo {
		height: 80px;
	}

	&-text
	{
		// font-family: 'NoeDisplay', sans-serif;
		font-family: $primary-font;
		font-size: 1.4em;
		color: $text-dark;
		// line-height: 1.5em;
		// width: 85%;
		font-weight: 800;
		// text-align: justify;
		margin-bottom: 40px;
		span {
			background: #000;
			color: #fff;
		}
	}

	&-subtext
	{
		line-height: 2;
		font-size: .92em;
		color: $text;
		font-weight: 400;
		width: 50%;
		font-family: $primary-font;//$heading-font;
		// text-align: justify;

		b {
			font-weight: 800;
		}
	}

	.scroll-to-projects {
		color: $text-dark;
		// color: #fff;
		font-family: $primary-font;
		display: inline-block;
		padding: 4px 0;
		margin-top: 32px;
		font-size: .92em;
		// border-bottom: 2px solid $text-dark;
	}

	a {
		cursor: pointer;
		border-bottom: 1px solid $text;
		padding-bottom: 4px;

		&:hover{
			color: $color-primary;
			border-bottom: 1px solid $color-primary;
		}
	}
}

section.first
{
	padding-top: 60px;
	padding-bottom: 50px;
}

p.about-text
{
	// width: 60%;
	margin: 20px auto;
	font-size: 1.4em;
	color: $text;
	line-height: 1.75;

	strong
	{
		color: $text-dark;
		font-size: 1.4em;
		font-weight: 500;
	}
}

p.small
{
	font-size: 1em;
	line-height: 1.25;

	span 
	{
		display: block;
		color: $text-dark;
		margin-bottom: 10px;

		a 
		{
			color: $orange;
		}
	}
}

.content
{
	width: 85%;
	margin: auto;
}

.circle-wrapper
{
	display: none;
	position: absolute;
	top: -15%;
	right: 0%;
	width: 105vw;
	height: 105vw;
	max-width: 120vh;
	max-height: 120vh;
	transform: translate(50%,0%);
	z-index: -1;
}

.circle
{
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background: none;
	border: 20px solid #dbe3e8;
	@include smoothtransition(1s);
}

.tiny-circle
{
	position: absolute;
	top: 50%;
	left: 100%;
	height: 10%;
	width: 10%;
	border-radius: 50%;
	background: none;
	border: 20px solid #FFA5A5;
	@include smoothtransition(1.25s);
}

.inner-circle
{
	position: absolute;
	top: 50%;
	left: 100%;
	height: 30%;
	width: 30%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background: none;
	border: 20px solid #B0E3FF;
	@include smoothtransition(.75s);
}

.square
{
	position: absolute;
	top: 50%;
	left: 100%;
	height: 15%;
	width: 15%;
	transform: translate(-50%,-50%) rotate(45deg);
	background: none;
	border: 20px solid #C9C5FC;
	@include smoothtransition(1.25s);
}

button.highlight
{
	padding: 12px 5px 8px 0px;
	margin: 0;
	border: none;
	background: none;
	font-family: $primary-font;
	font-size: 1em;
	font-weight: 500;
	color: $orange;
	cursor: pointer;
	outline: none;
	opacity: 0;
	position: relative;
	top: 30px;
	border: 3px solid transparent;
	@include transition(.5s);

	.fas 
	{
		font-size: .8em;
		margin-left: 5px;
		@include transition(.5s);
	}
}

button.highlight:hover
{
	.fas
	{
		margin-left: 15px;
	}
}

p.about-text
{
	button.highlight
	{
		font-size: .9em;
	}
}

section
{
	// background-color: #fff;
	padding: 20px 0px;

	h2 
	{
		// opacity: 0;
		font-weight: 400;
		font-size: 1.5em;
		margin: 2px 0px;
		@include transition(.5s);
	}
}

.work-filter
{
	position: relative;
	top: 20px;
	opacity: 0;
	margin: 50px 0px;
	padding: 0px 0px;
	width: 100%;
	overflow-x: auto;
	display: flex;
	//border-top: 1px solid rgba(0,0,0,.05);
	@include transition(.5s);

	.work-button
	{
		color: $text;
		padding: 12px 20px;
		padding-bottom: 12px;
		margin: 10px 5px;
		cursor: pointer;
		font-weight: 500;
		border-radius: 20px;
		background: none;
		border: 1px solid transparent;
		@include transition(.5s);
		user-select: none;
	}

	.work-button:hover
	{
		border: 1px solid rgba(0,0,0,.15);
	}

	.active
	{
		color: #FFF !important;
		background: $orange;
		border: 1px solid transparent !important;
	}
}

section
{
	.articles-wrapper
	{
		width: 100%;
		margin-top: 24px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.button-split
		{
			width: 100%;
			margin: 50px 0px;
			display: flex;
			justify-content: center;
			display: none;

			button
			{
				font-family: $primary-font;
				margin: 0px;
				padding: 20px 40px;
				font-size: .8em;
				font-weight: 500;
				background: #f0f3f6;
				border: none;
				outline: none;
				border-radius: 50px;
				cursor: pointer;
				color: $text-dark;
				@include transition(.5s);

				.fas 
				{
					margin-right: 10px;
				}
			}

			button:hover
			{
				background: $orange;
				color: #FFF;
			}
		}

		article 
		{
			position: relative;
			top: 100px;
			opacity: 0;
			width: 49%;
			margin-bottom: 3%;
			@include transition(.5s);

			.image 
			{
				border-radius: 5px;
				position: relative;
				width: 100%;
				padding-top: 70%;
				background-color: #e2e6ea;
				background-size: auto 100% !important;
				background-position: center center !important;
				transform: scale(1);
				overflow: hidden;
				@include transition(.5s);
			}

			.image:hover
			{
				background-size: auto 110% !important;
				transform: scale(.98);
			}

			.comingsoon:before
			{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				content: '';
				//background: rgba(255,255,255,.25);
				z-index: 100;
			}

			.comingsoon:after
			{
				content: 'Coming Soon';
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: .75em;
				background: #FFF;
				padding: 5px 8px;
				padding-top: 6px;
				border-radius: 25px;
				color: $orange;
				z-index: 1000;
			}

			h4 
			{
				width: calc(100% - 10px);
				margin: 30px auto;
				font-size: 1.45em;
				color: $text-dark;
				text-align: left;
				// font-family: $primary-font;
				font-family: 'NoeDisplay', sans-serif;
				font-weight: 500;
				margin-bottom: 5px;

				i 
				{
					font-size: .5em;
					font-style: normal;
					padding: 4px 10px;
					background: #bdfcd3;
					border-radius: 20px;
					color: #36ab30;
					display: inline-block;
					vertical-align: middle;
					font-family: $primary-font;
				}

				span 
				{
					color: #b3c2d2;
					font-family: $primary-font;
					font-weight: 400;
					margin: 10px 0px;
					font-size: .6em;
					display: block;
				}
			}

			p 
			{
				font-family: $primary-font;
				font-weight: 400;
				width: calc(100% - 10px);
				margin: 10px auto;
				font-size: .95em;
				text-align: justify;
				color: $text;
				line-height: 1.75;

				a 
				{
					color: $color-primary;
					font-weight: 500;
					font-size: .9em;
					margin: 0px 15px;
					cursor: pointer;
					padding-bottom: 5px;
					@include transition(.3s);

					&:hover {
						border-bottom: 1px solid $color-primary;
						-webkit-transition: border-bottom 0s ease;
					}

					.fas,.fab
					{
						margin-right: 5px;
						font-size: .9em;
					}

					.fab 
					{
						font-size: 1.1em;
					}
				}

				a.second {
					color: $color-secondary;
					&:hover {
						border-bottom: 1px solid $color-secondary;
						-webkit-transition: border-bottom 0s ease;
					}
				}

				a.para {
					color: $text-dark;
					border-bottom: 1px solid $text-dark;
					font-weight: 700;

					&:hover {
						color: $color-primary;
						border-bottom: 1px solid $color-primary;
					}
				}

				a:first-of-type
				{
					margin: 0;
				}

				b 
				{
					font-weight: 500;
					color: $text-dark;
				}
			}
		}

		.hide 
		{
			display: none;
		}
	}
}

.build 
{
	background: url('./img/buildcity.png') !important;
}

.workaholic
{
	background: url('./img/workaholic.png') !important;
}

.kitty-clicker
{
	background: url('./img/KittyClicker_alt.png') !important;
}

.pixeldrop
{
	background: url('./img/PixelDrop.png') !important;
}


.ftt
{
	background: url('./img/ftt.png') !important;
}

.camouflage
{
	background: url('./img/Camouflage.jpg') !important;
}

.wct
{
	background: url('./img/WeClotheThem.jpg') !important;
}

.gnn
{
	background: url('./img/GNN.jpg') !important;
}

.sift
{
	background: url('./img/Sift.png') !important;
}

.sentiment
{
	background: url('./img/Sentiment.jpg') !important;
}

.face
{
	background: url('./img/FaceRecognition.jpg') !important;
}

.inkhostel
{
	background: url('./img/InkHostel.jpg') !important;
}

.burgerbot
{
	background: url('./img/BurgerBot.jpg') !important;
}

.bubblejs
{
	background: url('./img/BubbleJS.jpg') !important;
}

.source-code
{
	background: url('./img/SourceCode.jpg') !important;
}

.google-doodle
{
	background: url('./img/GoogleDoodle.jpg') !important;
}

.iac
{
	background: url('./img/IAC.jpg') !important;
}

.vwo
{
	background: url('./img/VWO.jpg') !important;
}

.sixth-sense
{
	background: url('./img/SixthSense.jpg') !important;
}

.playsmid
{
	background: url('./img/playsmid.png') !important;
}

.tedx
{
	background: url('./img/TEDx.jpg') !important;
}

.rounders
{
	background: url('./img/rounders.png') !important;
}

.tooltip
{
  position: relative;
  overflow: visible;
}

.tooltip:before
{
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  font-size: .8em;
  font-weight: 400;
  padding: 7px 12px;
  background: rgba(0,0,0,.7);
  color: #FFF;
  border-radius: 5px;
  transform: translate(-50%,0);
  content: attr(aria-label);
  z-index: 100000;
  opacity: 0;
  white-space: nowrap;
  @include transition(.5s);
}

.tooltip:hover:before
{
  opacity: 1;
  top: calc(100% + 10px);
}

footer
{
	// padding-top: 20px;
	// padding-bottom: 40px;

	.footer-content {
		width: 85%;
		margin: auto;
		border-top: .2px solid $grey-light;
		padding-top: 48px;
		padding-bottom: 48px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.social-wrapper
	{
		display: flex;
		justify-content: center;

		.fab
		{
			padding: 0 10px;
			margin: 0 20px;
			color: $grey-light;
			font-size: 1.1em;
			@include transition(.5s);
		}

		.last {
			// padding-right: 0;
			margin-right: 0; 
		}

		.tooltip
		{
			cursor: pointer;
			position: relative;
		}

		.tooltip:before
		{
			content: attr(aria-label);
			font-size: .8em;
			padding: 4px 8px;
			background: $text-dark;
			border-radius: 20px;
			color: #FFF;
			position: absolute;
			top: -30px;
			left: 50%;
			transform: translate(-50%,0%) scale(0.2);
			opacity: 0;
			@include smoothtransition(.3s);
		}

		.tooltip-last:before
		{
			left: calc(50% + 10px);
		}

		.tooltip:hover:before
		{
			transform: translate(-50%,0%) scale(1);
			opacity: 1;
		}

		.tooltip:hover > .fab 
		{
			color: $text-dark;
		}
	}

		p.mailme
		{
			font-size: 1em;
			text-align: center;
			color: $text;
			font-weight: 400;
			margin-bottom: 0;

			strong 
			{
				// color: #a4bcd5;
				font-weight: 400;
				cursor: pointer;
				color: $text-dark;
				&:hover {
					color: $color-primary;
				}
			}
		}

		p.madewith
		{
			margin-top: 50px;
			font-size: .7em;
			text-align: center;

			.fas 
			{
				color: $orange;
			}
		}
}

/* ============================= Style - PROJECTS =============================== */


button.return-to-home  {
	color: $text;
	opacity: 0.6;
	padding: 12px 5px 8px 0px;
	margin: 0;
	border: none;
	background: none;
	font-family: $primary-font;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	outline: none;
	margin-bottom: 40px;
	border: 1px solid transparent;
	@include transition(.2s);

	.fas 
	{
		font-size: .8em;
		margin-left: 5px;
		@include transition(.5s);
	}

	&:hover {
		opacity: 1;
		border-bottom: 1px solid $text;
	}
}

.project-logo
{
	height: 50px;
	margin-bottom: 15px;
	display: flex;

	img 
	{
		height: 100%;
		display: block;
		margin-right: 24px;
	}
}

.content-project
{
	width: 60%;
	margin: auto;

	p > a {
		border-bottom: 1px solid;

		&:hover {
			color: $color-primary;
			border-color: $color-primary;
		}
	}
}

.logo-small
{
	height: 30px;
}

.project-title
{
	font-size: 2.6em;
	color: $text-dark;
	font-family: $heading-font;
	font-weight: 700;
	// font-weight: 400;
	margin-bottom: 5px;
	// width: 60%;
	margin: auto;
}

.project-details
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 30px 0px;

	.description-tile
	{
		padding: 5px 0px;
		color: $text-dark;
		max-width: 300px;

		span 
		{
			display: block;
			color: $text;
			margin: 10px 0px;
			text-transform: uppercase;
			// font-weight: 600;
			font-size: .7em;
			letter-spacing: 1px;
			font-weight: 400;
		}
	}
}

.project-container{
	width: 100%;
	// display: flex;
	padding-top: 24px;

	p {
		padding: 0;
		font-size: 1em;
		color: $text;
		font-weight: 200;
		line-height: 1.75;

		b {
			font-weight: 600;
			color: $text-dark;
		}

		strong {
			font-weight: 600;
		}
	}

	.quote {
		font-size: 1.4em;
		font-family: $heading-font;
		font-style: italic;
		font-weight: 400;
		color: $text-dark;
		line-height: 2em;
		margin: 40px 0;
		padding-left: 5%;
		border-left: 4px solid #ddd;
	}

	ul {
		line-height: 1.75;
		font-weight: 200;
		font-size: 1em;
		font-family: $primary-font;
		color: $text;
	}

	p.project-subtitle {
		color: $text-dark;
		font-weight: 400;
		font-family: $heading-font;
		font-size: 1.6em;

		.favourite {
			color: #feca57;
			margin-left: 10px;
			font-size: .9em;
			cursor: pointer;
		}
	}

	p.link {
		color: $color-primary;
		padding-top: 12px;
	}

	.description-tile {
		padding-top: 12px;
		max-width: 20%;
		font-size: .8em;

		span {
			font-weight: 600;
			text-transform: uppercase;
			line-height: 2em;
			font-size: .85em;
		}
	}

	
	&-left {
		// width: 25%;
		display: flex;
		justify-content: space-between;

		img {
			margin-top: 12px;
			width: 100%;
		}
	}

	&-right, &-main {
		width: 75%;
		margin:auto;
		margin-top: 32px;
		// padding-left: 5%;
	}

	&-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-half {
			margin-right: 24px;
			max-width: 45%;
		}

		&-bigger {
			margin-right: 24px;
			width: 55%;
		}

		&-smaller {
			// margin-right: 24px;
			width: 35%;
		}
	}
}

.info-grid {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	align-content: top;
	grid-gap: 32px;

	&-item {
		// background: #ddd;
		// max-width: 50%;
		&-num {
			display: inline;
			z-index: -1;
			font-family: $heading-font;
			font-size: 2em;
			font-weight: 700;
		}
	}
}

.about {
	padding-top: 0 !important; 
}

.project-wrapper
{
	width: 100%;

	.project-description
	{
		width: 100%;

		img {
			width: 100%;
		}
	
		p.point {
			margin: 5px 0px;
		}
	
		p {
			margin: 30px 0px;
			padding: 0;
			font-size: 1em;
			color: $text;
			font-weight: 400;
			line-height: 1.75;
			text-align: justify;
	
			b {
				color: $text-dark;
				font-weight: 700;
			}
	
			a {
				font-size: .9em;
				color: $orange;
	
				.fas {
					margin-left: 5px;
					font-size: .9em;
					@include transition(.5s);
				}
			}
	
			a:hover>.fas {
				margin-left: 10px;
			}
		}
	
		p.project-subtitle {
			color: $text-dark;
			font-weight: 700;
			font-size: 1.5em;
	
			.favourite {
				color: #feca57;
				margin-left: 10px;
				font-size: .9em;
				cursor: pointer;
			}
		}
	
		// p:first-of-type {
		// 	margin-top: 0;
		// }
		
	}
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin: 40px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button.centerlight
{
	padding: 12px 5px 8px 0px;
	margin: 20px 0px;
	margin-top: 80px;
	border: none;
	background: none;
	font-family: $primary-font;
	font-size: 1.1em;
	font-weight: 500;
	color: $orange;
	cursor: pointer;
	outline: none;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	border: 3px solid transparent;
	@include transition(.5s);

	.fas 
	{
		margin-right: 10px;
		@include transition(.5s);
	}
}

button.centerlight:hover
{
	.fas 
	{
		margin-right: 20px;
	}
}

.project-page
{
	img {
		image-orientation: from-image !important;
	}

	img.full 
	{
		width: 100%;
		margin: 28px auto;
	}

	img.shadow {
		box-shadow: 0 5px 75px rgba(77,71,82,.1);
	}

	.image-area
	{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	img.half
	{
		width: 45%;
		margin: 20px auto;
		// box-shadow: 0 5px 75px rgba(77,71,82,.1);
	}

	img.xs
	{
		width: 30%;
		margin: 20px auto;
		// box-shadow: 0 5px 75px rgba(77,71,82,.1);
	}

	img.bordered
	{
		border: 5px solid rgba(0,0,0,.1);
	}

	p.image-description
	{
		font-size: .8em;
		font-weight: 700;
		color: $text;
		text-align: center;
		margin: 0 0 10px 0px;
		margin-top: -20px;
	}

	.center
	{
		position: relative;
		left: 50%;
		transform: translate(-50%,0);
	}
}

@media only screen and (max-width: $breakpoint-tablet) {

	body
	{
		font-size: 90%;
	}

	.subtext
	{
		margin: 0px;
		margin-top: 30px;
		width: 100%;
	}

	p.about-text,.project-description
	{
		width: 75%;
	}

	.content-project
	{
		width: 75%;
		margin: auto;
	}

	.project-container-right, .project-container-main {
		width: 100%;
	}

	.intro {
		&-subtext {
			width: 60%;
		}
	}
}

@media only screen and (max-width: 700px) {

	body
	{
		font-size: 85%;
	}

	.content-project
	{
		width: 80%;
		margin: auto;
	}

	section
	{
		.articles-wrapper
		{
			article
			{
				width: 100%;
			}
		}
	}

	.project-wrapper
	{
		flex-wrap: wrap;

		.project-details
		{
			width: 100%;
			padding: 0;
		}

		.project-description
		{
			padding-top: 30px;
			width: 100%;
		}
	}

	.intro {
		&-subtext {
			width: 80%;
		}
	}
}

@media only screen and (max-width: 550px) {

	p.about-text
	{
		width: 100%;
	}

	.project-description
	{
		width: 100%;
	}

	body
	{
		// font-size: 80%;
	}

	.content
	{
		width: 90%;
	}

	.content-project
	{
		width: 90%;
		margin: auto;
	}

	header
	{
		.logo 
		{
			height: 30px;
			width: 35px;

			.name 
			{
				display: none;
			}
		}

		.links
		{
			display: none;
		}

		.hamburger
		{
			display: block;
		}
	}

	section
	{
		.articles-wrapper
		{
			article
			{
				width: 100%;
			}
		}
	}

	.project-page
	{
		img.half
		{
			width: 60%;
		}
	}
}

@media only screen and (max-width: 400px) {
	.project-container-left {
		display: none;
	}

	.project-container-right {
		width: 100%;
	}
}