#about
	
	.about-content
		width 60%
		margin-left 10%
	.about-header
		width 35%
		margin-left 10%
		margin-bottom 30px
		
		h5
			font-size 1.1em
			line-height 1.6em
		
@media (max-width 700px)
	#about
		.about-header
			width 60%
		
		.about-content
			width 80%