@import '_vars'

#contact
	background #191919
	padding-bottom 60px
	
	h5
		width 60%
		margin 0 auto
		color #fff
		
		span
			color primary-red
		
		span:nth-of-type(2n)
			color primary-blue
			
	.links
		position relative
		margin-top 100px
		left 20%
		max-width 500px
		min-width 40%
		display flex
		justify-content space-between
		
		hr
			width 60%
			position absolute
			border none
			border-top 2px solid primary-blue
			background none
			top -10px
		
		p 
			color #fff
			font-family primary-font
			font-weight 800
			
			a
				cursor pointer
				transition(.3s)

				&:hover
					color primary-red
					
	.social-icons
		width 80%
		margin auto
		left 0
		margin-top 100px
		display flex
		justify-content space-between
		align-items center
		
		hr
			width 50%
			position relative
			border none
			border-top 2px solid primary-blue
			background none
		
		.facebook-icon
			height 20px
			width 20px
			color #fff
					
@media (max-width 700px)
	#contact
		h5
			width 80%
			letter-spacing 0
			font-size 2em

		.links
			width 80%
			margin auto
			left 0
			margin-top 100px
			
@media (max-width 550px)
	#contact
		h5
			font-size 1.7em
		.links
			display none
			
@media (min-width 550px)
	#contact
		.social-icons
			display none
			