@import '_vars'

#landing
	height 600px
	width 100%
	//padding-top 0
	box-sizing border-box
	background primary-blue
	display flex
	justify-content center
	flex-direction column
	
	.landing-text
		width 80%
		margin 0 auto
	
	h1
		line-height 1.8em

	h2
		color primary-red
		
	h2.landing
		font-size 1em
		line-height 1.8em
		margin-top 50px
		font-family primary-font
		font-weight 700
		max-width 50%
		color #fff