doctype html
<html>
    <head>
        <title>About Me | Pranay Jain</title>
        include ../common/head.pug
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        include ../common/loader.pug
        section(class="first project-page")
            .content-project
                <a href="../index.html"><button class="return-to-home"><i class="fas fa-chevron-left"></i> Back</button></a>
                .project-container.about
                    .project-container-left
                        img(src="./me.jpg" class="about-me-img")
                    .project-container-right
                        .content
                            p.project-subtitle
                                <strong>About Me</strong>
                            p I'm Pranay Jain, a final year undergraduate at The University of British Columbia in Vancouver, Canada. I'm a creative developer interested in interaction and user experience design. I have extensive experience in developing full-stack web applications and interactive games.
                            p I am pursuing majors in Computer Science and Mathematics. I have previously interned at Dapper Labs on their flagship blockchain product CryptoKitties as a front-end developer. I have also worked with Collabware and Stanley Park Digital as a UI/UX Developer.
                            p I am currently the Technical Director at Design Lab, a non-profit that aims to integrate communities in health science and technology in Vancouver. We host <a href="http://www.lumohacks.com/" target="_blank">Lumohacks</a>, Canada's first major health hackathon and also organize educational panels and workshops to help build the technical skills of the community. 
                            p I'm currently exploring projects in the field of emerging media. The Build A City project was a novel approach to an interactive multiplayer world-building game as an immersive physical installation. I am also interested in the space of AR apps for the purposes of gaming and  education. More projects to come! 
                            p I'm interested in exploring the applications of technology in urban design and health care and am always looking to have meaningful conversations about the same. If you're interested in my work, would like to collaborate on a project or just want to chat, I'd love to talk!
                            
                            <a href="../AbhinavThukralCV.pdf" target="_blank"><button class="highlight">View Resume <i class="fas fa-external-link-alt"></i></button></a>
                        </div>
        </section>
        include ../common/footer.pug
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../master.js"></script>
        <script src="//cdn.jsdelivr.net/lining.js/0.3.2/lining.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
        <script src="../lining.effect.js"></script>
    </body>
</html>