$pink: #FF00AE;
$blue-grey: #60697F;
$font: fabrikat, sans-serif;

@font-face {
	font-family: fabrikat;
	src: url('./assets/FabrikatLight.otf');
	font-weight: 300;
}

@font-face {
	font-family: fabrikat;
	src: url('./assets/FabrikatRegular.otf');
	font-weight: 400;
}

@font-face {
	font-family: fabrikat;
	src: url('./assets/FabrikatMedium.otf');
	font-weight: 600;
}

@font-face {
	font-family: fabrikat;
	src: url('./assets/FabrikatBold.otf');
	font-weight: 700;
}

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: $font;
}

a {
	text-decoration: none;
}

.loading {
	padding: 48px;
	position: fixed;
	left: 400px;
	width: calc(100vw - 400px);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: #888;
	font-size: 1.2em;
}

@media only screen and (max-width: 1100px) {
	.loading {
		left: 320px;
		width: calc(100vw - 320px);
	}
}

@media only screen and (max-width: 680px) {
	.loading {
		width: 100vw;
		left: 0;
		padding: 24px;
	}
}