doctype html
html
    head
        include ../../common/head.pug
        title APRU Cities and Refugees Ideas Competition  | Pranay Jain
        <link rel="stylesheet" type="text/css" href="../../style.css">
    body
        include ../../common/loader.pug
        section(class="first project-page")
            .content-project
                a(href="../../")
                    <button class="return-to-home">  &larr;  &nbsp;  Back</button>
                <div class="project-title">Cities and Refugees Ideas Competition</div>
                .project-container
                    .project-container-left
                        .description-tile
                            span Tags
                            p Urban Design, Case Competition
                        .description-tile
                            span When
                            p August 2019
                        .description-tile
                            span Languages/Tools
                            p Sketch, Adobe After Effects
                    .project-container-main
                        p.project-subtitle Narrative
                        p 
                            | Forced displacement and resettlement has become a largely urban phenomenon with more than half of the world’s refugees living in urban areas​<sup>10</sup>.​ In Canada, refugees not only face issues of social isolation but also struggle to make ends meet given the high cost of living in its metropolitan cities. 
                            | Toronto hosts close to half of the resettled refugees in Canada​<sup>11</sup>,​ and has the highest childcare fees in the country<sup>8</sup>​ ​. While subsidies are provided by the government, they have long waitlists and are often difficult to obtain​<sup>9</sup>.​ Research also shows that the gender employment gap is n​egatively correlated with the access to affordable daycare services​.​
                            | With traditional gender norms requiring women to prioritize childcare and men working, this perpetuates gender segregation in the household and limits educational and vocational opportunities to the women.                        
                        p.project-subtitle Reimagining School Spaces
                    img(src="birds_eye.png" class="full shadow")
                    .project-container-main
                        p
                            | This is occurring at a time when cities around the globe are struggling to maintain their timeless structures as they continue their economic growth. 
                            | In Toronto alone, close to 130 schools are facing closure due to underutilization of space. While some buildings are getting too old and are in dire need of repair<sup>1​</sup>, 
                            | nearly 20 percent of schools have enrollment significantly below capacity​<sup>2</sup>.​ Many of these old buildings that have heritage value are in danger of being demolished. Our intervention
                            | proposes to re-purpose these schools that can not only preserve their heritage value, but also provide opportunities for refugees and low-income immigrants to better integrate into their societies. 
                            | The incentive to utilize school spaces​is two-fold. Schools provide the basic infrastructure for educational programs, which allows to keep logistical costs down. Furthermore, schools are perceived as safe spaces<sup>3</sup>​: they
                            | exist in family-safe neighborhoods and provide confidence to parents sending their children.
                        <br />
                    img(src="daycare_design.png" class="full shadow")
                    .project-container-main
                        p
                            | We propose an intervention that creates a ​hybrid space​ that facilitates learning while allowing a sense of security for the parents. The intervention utilizes the classrooms to provide language lessons for parents and 
                            | uses the adjacent space as a r​epurposed daycare​. The daycare is separated from the classroom through a transparent and sound-proof barrier that limits disruption while providing a 
                            | sense of oversight from the parents themselves. This allows parents the peace of mind and be thoroughly involved in the classroom. This intervention targets <strong>UNHCR’s ​SDG 4</strong> t​o ensure 
                            | inclusive and equitable quality education for all​ a​nd​ <strong>SDG 5</strong> ​to achieve gender equality and empower all women.
                    
                    img(src="classroom_design.png" class="full shadow")
                    .project-container-main   
                        p.project-subtitle Opportunities for Social Interaction
                    img(src="social_space.png" class="full shadow")
                    .project-container-main
                        p 
                            | When planning for such a service-based intervention for a diverse audience, we ought to be realistic. Children of ages 3-7 years require supervision and that can’t be left completely to the parents’ oversight; 
                            | hence, these facilities will also require participation from daycare providers. Volunteerism-based solutions have worked for this in the past, with localites and other refugee parents providing exchange services 
                            | to look after the children​4.​ There are also opportunities to utilize state funding for individual daycare applicants5​ ​ to subsidize these services. This can also create opportunities to involve members of local 
                            | communities like architects, artists and tech enthusiasts to build engaging experiences for children6​ ​ and skill workshops for parents.
                    .project-container-main
                        <p><b>This project was submitted as an entry in the <a href="https://citiesandrefugeescomp2019.com/" target="_blank">APRU Cities and Refugees Ideas Competition</a>, which was contested by 90+ teams from over 24 countries worldwide.</b></p>
                        .footnotes
                            p Hosted by the Rapid Urbanisation Grand Challenge at UNSW (Sydney), with Australian Red Cross, ARUP International Development, United Nations High Commissioner for Refugees (UNHCR) and the Association of Pacific Rim Universities – Sustainable Landscapes and Cities Hub (APRU SCL).
                        <br />
                        .video-wrapper
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q89wmp-9t-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br /><br /><br /><br />
                        p.project-subtitle References
                        ol.footnotes
                            li https://www.theglobeandmail.com/news/toronto/why-a-treasure-of-a-toronto-school-building-is-headed-fordemolition/article33988584/
                            li https://toronto.ctvnews.ca/toronto-has-the-most-underutilized-schools-across-ontario-1.2211549
                            li Hong, J. S., Voisin, D. R., &amp; Lee, J. (2018). Urban African American Youth and Their Caregivers’ PerceptionsofSchoolSafetyinChicago:ASocial-EcologicalPerspective.Y​ outhViolenceandJuvenile Justice​, 1​ 6(​ 2), 174–189.
                            li https://www.unhcr.org/news/latest/2006/8/44eee8e84/centres-bring-affordable-day-care-refugee-mothers-costa-rica.html
                            li https://www.toronto.ca/311/knowledgebase/kb/docs/articles/childrens-services/district-operations/new-immigrant-or-refugee-now-living-in-toronto-child-care-subsidy.html
                            li https://www.dezeen.com/2018/01/17/stackable-playscapes-system-transforms-empty-lots-into-playgrounds-amman-design-week/
                            li https://www.cbc.ca/news/canada/montreal/refugee-claimants-asylum-seekers-quebec-daycare-cpe-1.4840527
                            li Melissa, Moyser,; Canada, Statistics. Women and Paid Work. Ottawa, ON, CA: Statistics Canada, 2017. Canadian Electronic Library/desLibris. Absolute Page 1. Downloaded 08-08-2019.
                            li https://www.cbc.ca/news/canada/montreal/refugee-claimants-asylum-seekers-quebec-daycare-cpe-1.4840527
                            li http://www.worldurbancampaign.org/more-half-world%E2%80%99s-refugees-live-urban-areas-here%E2%80%99s-what-means-cities
                            li https://www.cbc.ca/news/politics/canada-resettled-most-refugees-un-1.5182621
                        


        include ../../common/footer.pug

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../master.js"></script>
    <script src="//cdn.jsdelivr.net/lining.js/0.3.2/lining.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <script src="../lining.effect.js"></script>
