footer
    <div class="footer-content">
        <p class="mailme">Reach out &mdash; <a href="mailto:pranayjain1117@gmail.com"><strong>pranayjain1117@gmail.com</strong></a></p>
        <div class="social-wrapper">
            <a href="https://github.com/pranay-jain" target="_blank">
                <div class="tooltip" aria-label="github"><i class="fab fa-lg fa-github"></i></div>
            </a>
            <a href="https://www.linkedin.com/in/pranay-jain-a2536598/">
                <div class="tooltip" aria-label="linkedin"><i class="fab fa-lg fa-linkedin-in"></i></div>
            </a>
            <a href="https://www.facebook.com/pranayjain1117" target="_blank">
                <div class="tooltip tooltip-last" aria-label="facebook"><i class="fab last fa-lg fa-facebook-square"></i></div>
            </a>
        </div>
    </div>