<div>
    .loader
        svg(height='100' width='100' viewBox='0 0 100 100' class="trans")
            circle(r='40' cx='50%' cy='50%' fill='none' stroke-width='5' stroke='rgba(0,0,0,.1)' class="base")
            circle(r='40' cx='50%' cy='50%' fill='none' stroke-width='2'  class="filler")
    .black
    .mobile-nav
        .cross
            img(src="../../img/cross.svg")
        .mobile-links
            a(href="../.././")
                <div class="mobile-link selected-link"><span>01</span> Projects</div>
            a(href="../.././about")
                <div class="mobile-link"><span>02</span> About</div>
            a(href="../.././publication")
                <div class="mobile-link"><span>03</span> Publications</div>

    .top-bar
</div>