html
	head
		title Pranay Jain
		link(rel='stylesheet' type='text/css' href='style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(type="text/javascript" src="script.js")

	body
		.box
			.content
		section#home
			h4 Hello! I am 
			h1 Pranay <br><span>Jain</span>
			h2 UI/UX designer,<br> full-stack developer<br> &amp; graphic designer
			button About Me

		

		section#works
			h3.liner my works
			p hello world
			p hello world
			p hello world
			p hello world

	
		section#contact
			h3.liner contact me
			p you can reach me at <br><span> pranay1117@yahoo.co.in</span>
			p or add me on <b><a href="https://www.facebook.com/PranayJain007" target="_blank">Facebook </a></b>
			p you can find my work on <b><a href="https://github.com/pranay-jain" target="_blank"> GitHub </a></b> and <b><a href="https://www.behance.net/pranay1117451e" target="_blank">Behance </a></b>

		footer
			center
				h4 copyright<br> Pranay Jain <span>	&lsaquo; 2016 &rsaquo;</span>